@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --background: #4e4e4e;
    --foreground: #fff; */
    --background: #000;
    --foreground: #fff;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
